
.footer{
    @apply p-5 md:p-9 lg:p-20 bg-black text-zinc-900;

    .wrapper{
        @apply flex flex-col-reverse md:grid grid-cols-2 lg:grid-cols-4 gap-20;

        .logo{
            @apply text-xl font-bold uppercase 
                text-zinc-200 leading-9 md:leading-5;
        }
    }

    .menu{
        @apply md:col-span-3 space-y-10 md:space-y-0 md:grid md:text-base grid-cols-4 gap-10;
        a{@apply block hover:underline text-zinc-200;}
        li{@apply font-bold md:mb-3 text-zinc-200 list-none;}
    }

}