body::-webkit-scrollbar {
    width: 0.1em;
    background-color: #f5f5f500;
}

body::-webkit-scrollbar-thumb {
    background-color: #Ffbb0a;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #Ffbb0a;
}

.scroll::-webkit-scrollbar {
    width: 0.0em;
    background-color: #f5f5f500;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #ffba0a00;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #ffba0a00;
}

.ball-container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: ballAnimation 5s ease-in-out infinite;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    margin: 10px;
    animation: scaleAnimation 3s ease-in-out infinite alternate;
}

@keyframes ballAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px);
    }
}

@keyframes scaleAnimation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}