@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light: #fefefe;
    --as: #e5be39;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #342e37;
    --red: #db504a;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        @apply font-sans;
    }
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 0.1em;
    background-color: #f5f5f500;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffbb0a;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #ffbb0a;
}

.blog-box:hover .blog-img {
    transform: scale(1.1);
}

.scroll::-webkit-scrollbar {
    width: 0em;
    background-color: #f5f5f500;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #ffba0a00;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #ffba0a00;
}

.ball-container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: ballAnimation 5s ease-in-out infinite;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    margin: 10px;
    animation: scaleAnimation 3s ease-in-out infinite alternate;
}

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: 0.3s linear;
    overflow-x: hidden;
    background: var(--grey);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    height: 100%;
    width: 280px;
    z-index: 2000;
    transition: 0.3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}

.sidebar.hide {
    width: 60px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .logo {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--as);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo .icon {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

.sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li {
    height: 48px;
    margin-left: 6px;
    background: transparent;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active {
    position: relative;
    background: var(--grey);
}

.sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    right: 0;
    top: -40px;
    z-index: -1;
    box-shadow: 20px 20px 0 var(--grey);
}

.sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    right: 0;
    bottom: -40px;
    z-index: -1;
    box-shadow: 20px -20px 0 var(--grey);
}

.sidebar .side-menu li a,
.sidebar .side-menu li button {
    height: 100%;
    width: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
}

.sidebar.hide .side-menu li a,
.sidebar.hide .side-menu li button {
    width: calc(48px - (4px * 2));
    transition: 0.3s ease;
}

.sidebar .side-menu li.active a,
.sidebar .side-menu li.active button {
    color: var(--as);
}

.sidebar .side-menu.top li a:hover,
.sidebar .side-menu.top li button:hover {
    color: var(--as);
}

.sidebar .side-menu li a.logout,
.sidebar .side-menu li button.logout {
    color: var(--red);
}

.sidebar .side-menu li a i,
.sidebar .side-menu li button i {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

.content {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: 0.3s ease;
}

.sidebar.hide ~ .content {
    width: calc(100% - 60px);
    left: 60px;
}

.content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
}

.content nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 0;
    bottom: -40px;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a {
    color: var(--dark);
}

.content nav .fa-bars {
    cursor: pointer;
    color: var(--dark);
}

.content main {
    width: 100%;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

.content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}

.content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.2rem;
}

::-webkit-scrollbar-track {
    background: #d9d9d9;
}

::-webkit-scrollbar-thumb {
    background: var(--as);
    border-radius: 5rem;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
.success-popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.error-popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e40000;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    content: '';
    position: absolute;
    width: 24px;
    height: 3px;
    top: 0;
    right: 0;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
    width: 14px;
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Switch Style */
.switch {
    width: 60px;
    height: 30px;
    background-color: var(--grey);
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
}

.switch[data-isOn='true'] {
    justify-content: flex-end;
}

.handle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 40px;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

input[type='password']::-webkit-textfield-decoration-container {
    display: none;
}

input[type='password']::-moz-svg-anonymous {
    display: none;
}

input[type='password']::-ms-reveal {
    display: none;
}

.products-menu {
    box-shadow: 0px 20px 417px 0px #00000012;
}

.right-arrow {
    animation: move 0.7s infinite alternate;
}
.verified-img-card {
    box-shadow: 0px 2.89px 23.35px 0px #00000006;
    box-shadow: 0px 12.92px 53.95px 0px #00000009;
    box-shadow: 0px 32.14px 123.2px 0px #0000000b;
    box-shadow: 0px 62.58px 262.51px 0px #0000000f;
    box-shadow: 0px 106.29px 503.27px 0px #00000014;
}

.our-apps-menu {
    box-shadow: 0px 2.89px 23.35px 0px #00000006;
    box-shadow: 0px 12.92px 53.95px 0px #00000003;
    box-shadow: 0px 32.14px 123.2px 0px #0000000b;
    box-shadow: 0px 62.58px 262.51px 0px #00000005;
    box-shadow: 0px 106.29px 503.27px 0px #0000000a;
}

.profile-menu:hover .profile-chevron {
    transform: translateY(2px);
}

.talent-pool-card {
    border: 0.86px solid #ffbb0a;
}
.review-box {
    border: 0.67px solid #ffbb0a;
}
.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.slide-up-text {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* tiptap.css */
.prose ol,
.prose ul {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.prose ol {
    list-style-type: decimal;
}
.prose ul {
    list-style: disc;
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(5px);
    }
}
@keyframes right-to-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* @keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

@keyframes ballAnimation {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px);
    }
}

@keyframes scaleAnimation {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .content {
        width: calc(100% - 200px);
        left: 200px;
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
@media (max-width: 640px) {
    .content {
        width: calc(100% - 0px);
        left: 0px;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 0px;
    }
    .sidebar.hide {
        width: 0px;
    }

    .sidebar.hide ~ .content {
        width: calc(100% - 0px);
        left: 0px;
    }
    .content nav {
        height: 80px;
        padding: 0 24px;
    }

    .content nav .fa-bars {
        display: none;
    }

    .content nav::before {
        content: '';
        border-radius: 0px;
    }

    .content main {
        max-height: calc(100vh - 80px);
    }
}
